body{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.red{
    background-color: darkred;
    color: white;
}
.blue{
    background-color: darkslateblue;
    color:white
}
#output{
    display:inline;
}
#flight{
    visibility:hidden
}